* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile firts */
container {
    width: 80%;
    max-width: 600px;
    margin: auto;

    border: 2px solid green;
    min-height: 500px;
}

@media screen and (min-width: 400px) {
    container {
        width: 80%;
        background-color: lightcoral;
    }

    @media screen and (min-width: 600px) {
        container {
            background-color: lightblue;
        }

    }
}